html, body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
    background:#000; }

    #root{ 
        width:95%;
        height: 95%; 
        margin:auto;
        background:-webkit-linear-gradient( #fff 0%, #fff 40%, #2e649d 40%, #2e649d 100% );
        background:linear-gradient( #fff 0%, #fff 40%, #2e649d 40%, #2e649d 100% );      
        /*Vertical Align*/
        position:relative;
        top:50%;
        transform:translateY(-50% );
      }
      #content{
        width:90%;
        height:70%; 
        background-color:#ffffff;
        margin:auto;
        
        /*Vertical Align*/
        position:relative;
        top:38%;
        transform:translateY(-50% );

      }
      .login-form{
        display: none;
        transition: 1s;
      }
      .login-formshow{
        display: block;
      }